
button {
  /*font-size: 20px;*/
}


.label {
  /*font-size: inherit;*/
  background-color: rgba(255, 255, 255, 1);
  border-radius: 2px;
  border-color: rgb(0, 0, 0);
  border: 1px solid;
  /*margin: none;
  padding: none;*/
}

.label:hover {
  opacity: 1;
}


.changer {
  background-color: rgb(240, 230, 200);
  border-radius: 2px;
  border: 1px solid;
}

.changer:hover {
  background-color: rgba(220, 210, 180, 1);
}

.start {
  background-color: rgba(200, 255, 200, 1);
  border: 1px solid;
}

.start:hover {
  background-color: rgba(185, 240, 185, 1);
}

.stop {
  background-color: rgba(255, 200, 200, 1);
  border: 1px solid;
}

.stop:hover {
  background-color: rgba(240, 185, 185, 1);
}
